<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.raa_tugas">

    <!-- ========== PERMISSIONS ========== -->

    <!-- Bluetooth dasar -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>


    <!-- Android 12+ (SDK 31+) -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" android:required="true" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" android:required="true" />
    <uses-permission android:name="android.permission.INTERNET"/>



    <!-- ========== APPLICATION ========== -->

    <application
        android:name="${applicationName}"
        android:label="raa_tugas"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- Tema awal saat splash -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Plugin Flutter -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <!-- ========== QUERY PERMISSION UNTUK PLUGIN TEXT (opsional) ========== -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>

</manifest>
